<p id="notice"><%= notice %></p>

<h1>Wods</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Data</th>
      <th>Coach</th>
      <th>Pre</th>
      <th>Technique</th>
      <th>Workout</th>
      <th>Pos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wods.each do |wod| %>
      <tr>
        <td><%= wod.wod_date %></td>
        <td>
          <%wod.coaches.each do |c|%>
            <%= c.name %><br>
          <%end%>
        </td>
        <td><%= wod.pre %></td>
        <td><%= wod.technique %></td>
        <td><%= wod.workout %></td>
        <td><%= wod.pos %></td>
        <td><%= link_to 'Show', wod %></td>
        <td><%= link_to 'Edit', edit_wod_path(wod) %></td>
        <td><%= link_to 'Destroy', wod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wod', new_wod_path %>
