<p id="notice"><%= notice %></p>

<p>
  <strong>Pre:</strong>
  <%= @wod.wod_date%>
</p>
<p>
  <strong>Pre:</strong>
  <%= @wod.pre %>
</p>

<p>
  <strong>Technique:</strong>
  <%= @wod.technique %>
</p>

<p>
  <strong>Workout:</strong>
  <%= @wod.workout %>
</p>

<p>
  <strong>Pos:</strong>
  <%= @wod.pos %>
</p>

<p>
  <strong>Coaches:</strong>
  <% @wod.coaches.each do |c|%>
    <%= c.name %><br>
  <%end%>
</p>

<%= link_to 'Edit', edit_wod_path(@wod) %> |
<%= link_to 'Back', wods_path %>
