<%= form_with(model: checkin, local: true) do |form| %>
  <% if checkin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(checkin.errors.count, "error") %> prohibited this checkin from being saved:</h2>

      <ul>
      <% checkin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :obs %>
    <%= form.text_area :obs, id: :checkin_obs %>
  </div>
  
   <div class="field form-group">
    <%= form.label :wod_id %>
    <%= collection_select(:checkin, :wod_id, @wod_options, :id, :wod_date )%>
  </div>
  <div class="field form-group">
    <%= form.label :user_id %>
    <%= collection_select(:checkin, :user_id, @user_options, :id, :name )%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
